
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-cha:before { content: "\e62e"; }
.icon-07daohang:before { content: "\e656"; }
.icon-xiao47:before { content: "\e892"; }
.icon-bi:before { content: "\e691"; }
.icon-qian:before { content: "\e61f"; }
.icon-icon01:before { content: "\e605"; }
.icon-navyinshi:before { content: "\e66a"; }
.icon-feiji:before { content: "\e88d"; }
.icon-gouwu:before { content: "\e608"; }
.icon-chonghuafei:before { content: "\e62c"; }
.icon-lajitong:before { content: "\e675"; }
.icon-taozhangshezhi:before { content: "\e609"; }
